In [17]:
##Q1.Create one variable containing following type of data:
##(i) string (ii) list (iii) float (iv) tuple

#Ans (i)
a = "pwskills"
print(a)

#Ans (ii)
l = [1,2,3,4,5, "apple", "samsung", "pubg", "valorant"]

#Ans (iii)
pi = 3.14
print(pi)

#Ans (iv)
t = (9,8,7,6,5, "cat", "data science", "pwskills")

pwskills
3.14

In [49]:
"""Q2 Given are some following variables containing data:
 (i)var = '' 
 (ii)var2 = '[DS, ML, Python]' 
 (iii)var3 = ['DS', 'ML', 'PYTHON'] 
 (iv)var4 =1. """
#Ans i = string
#Ans ii = string
#Ans iii = list
#Ans iv = float

"Q2 Given are some following variables containing data:\n (i)var = '' \n (ii)var2 = '[DS, ML, Python]' \n (iii)var3 = ['DS', 'ML', 'PYTHON'] \n (iv)var4 =1. "

In [22]:
"""Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) ** 
"""
#Ans (i) Division operator is used to do division between two numbers
d = 10/2
print(d)

#Ans (ii) Modulo operator is used to find remainder of the division
r = 13%4
print(r)

#Ans (iii) Floor division is used to find quotient of the division
q = 12//3
print(q)

#Ans (iv) Exponentiation is used to give to number a certain number of power
p = 3**2
print(p)

5.0
1
4
9

In [26]:
"""Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type."""

#Ans (4) List with 10 elements with different data types
x = [12, 15.23, 5+8j, True, "Hello", False, "Pwskills", "Assignment", [1,2,3,4,5,"okay"], True]

# list for loop
for element in x:
    print("Element:", element)
    print("Data Type:", type(element))
    print()

Element: 12
Data Type: <class 'int'>

Element: 15.23
Data Type: <class 'float'>

Element: (5+8j)
Data Type: <class 'complex'>

Element: True
Data Type: <class 'bool'>

Element: Hello
Data Type: <class 'str'>

Element: False
Data Type: <class 'bool'>

Element: Pwskills
Data Type: <class 'str'>

Element: Assignment
Data Type: <class 'str'>

Element: [1, 2, 3, 4, 5, 'okay']
Data Type: <class 'list'>

Element: True
Data Type: <class 'bool'>

In [32]:
"""Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible."""

# Input values
A = 25
B = 5

# While loop 
while A % B == 0:
    A = A // B

In [41]:
"""Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not."""

# list of 25 integers
listx = [12,54,23,75,2,23,75,76,86,45,12,65,80,67,56,45,23,12,65,72,71,27,63,43,34]

# Iterating over the list using a for loop
for element in listx:
    if element % 3 == 0:
        print(f"{element} is divisible by 3.")
    else:
        print(f"{element} is not divisible by 3.")

12 is divisible by 3.
54 is divisible by 3.
23 is not divisible by 3.
75 is divisible by 3.
2 is not divisible by 3.
23 is not divisible by 3.
75 is divisible by 3.
76 is not divisible by 3.
86 is not divisible by 3.
45 is divisible by 3.
12 is divisible by 3.
65 is not divisible by 3.
80 is not divisible by 3.
67 is not divisible by 3.
56 is not divisible by 3.
45 is divisible by 3.
23 is not divisible by 3.
12 is divisible by 3.
65 is not divisible by 3.
72 is divisible by 3.
71 is not divisible by 3.
27 is divisible by 3.
63 is divisible by 3.
43 is not divisible by 3.
34 is not divisible by 3.

In [48]:
"""Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property."""

# Mutable data type are these values which can be modified or edited after they are created.
# Example = String, Float and Integer

x = "Hello"
y = x + " World"
print(x) 
print(y)  

# Hence, in the above statement after adding x to "world", hello remains the same in the output. 

# Immutable data types are these values which can't be modified after they are created.
# Example = List, Set and Dictionary

l = ["list", "hello", "laptop"]
l.append("Mobile")
l

Hello
Hello World

['list', 'hello', 'laptop', 'Mobile']